*{
  margin: 0 auto;
}
body{
  background-image: url(../img/1.jpg);
  background-repeat: repeat;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  border: 1px solid red;
  padding: 0.09rem;
  margin-top: 2rem;   
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;*/
}
header{
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid red;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header input {

}
form div{
  margin: 20px;
  height: 15rem;
  width: 22rem;
  float: left;
  border: 2px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#list{
  clear: both;
  margin: 1.5rem auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content_todo {
  height: 12rem;
  max-height: 12rem;
  width: 20rem;
  max-width: 20rem;
  background-color: grey;
  word-wrap: break-word;
  color: white;
}
#contend_todo:hover {
  cursor: pointer;
}
.input_todo{
  margin: 0.6rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
form input[type=button],input[type=submit] {
  background-color: grey;
  color: white;
  width: 12rem;
  height: 5rem;
  margin: 0.1rem;
}
form input[type=button]:hover, input[type=submit]:hover {
  background-color: white;
  color: grey;
}
footer {
  margin: 2.7rem 0 auto auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input[type=date]{
  width: 21rem;
}

